$neutral-color: rgba(189, 182, 28, 0.7);
$positive-color: rgba(1, 192, 4, 0.7);
$negative-color: rgba(206, 45, 21, 0.7);
$tip-color: rgb(93, 93, 93);
$scrollbar-bg-color: rgb(208, 208, 208);
$scrollbar-thumb-color: rgba(91, 91, 91, 0.3);

.analysis {
  max-width: 700px;
  margin: 70px auto;

  @media screen and (max-width: 768px) {
    padding: 35px;
  }
}

.neutral {
  color: $neutral-color;
}

.negative {
  color: $negative-color;
}

.positive {
  color: $positive-color;
}

.result {
  font-style: italic;
  padding: 2px;
}

.polarity {
  margin-top: 5px;
  font-style: italic;
  font-weight: 400;
}

.text {
  height: 400px;
  padding: 5px;
  background-color: #fff;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  border: 5px solid transparent;
  outline: rgba(0,0,0, .2) solid 2px;


  p {
    margin: 10px;
    line-height: 2;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: $scrollbar-bg-color;
    border-radius: 8px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $scrollbar-thumb-color;
    cursor: pointer;
  }

  &::-webkit-scrollbar-corner {
    padding: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
  }

}

.tip {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $tip-color;
  font-style: italic;
}

.control {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}