$neutral-color: rgba(255, 209, 72, 0.7);
$neutral-color-hovered: rgba(208, 162, 29, 0.7);
$positive-color: rgba(133, 255, 72, 0.7);
$positive-color-hovered: rgba(88, 189, 40, 0.7);
$negative-color: rgba(255, 91, 66, 0.7);
$negative-color-hovered: rgba(196, 37, 15, 0.7);

.item {
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  text-align: center;
  &:hover .itemInfo {
    display: inline-block;
  }
}

.itemInfo {
  display: none;
}

.negative {
  background-color: $negative-color;

  &:hover {
    background-color: $negative-color-hovered;
  }
}

.positive {
  background-color: $positive-color;

  &:hover {
    background-color: $positive-color-hovered;
  }
}

.neutral {
  background-color: $neutral-color;

  &:hover {
    background-color: $neutral-color-hovered;
  }
}