$link-color: rgb(77, 123, 255);
$subTitle-color: rgb(93, 93, 93);
$link-hovered-color: rgb(30, 85, 245);

.container {
  max-width: 1040px;
  margin: auto;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 48px;
  text-transform: capitalize;
  padding: 10px;
}

.error {
  width: 300px;
  margin: auto;
}

.subTitle {
  color: $subTitle-color;
  text-align: center;
  padding: 10px;
}

.author {
  text-decoration: none;
  color: $link-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $link-hovered-color;
    transition: all 0.1s ease-in;
  }

  &:hover {
    color: $link-hovered-color;

    &::after {
      width: 100%;
    }
  }
}
